@use '../../../styles/abstracts' as *;

.social {
  display: flex;
  align-items: center;
  gap: 24px;

  &__link {
    padding: 8px;
    border: solid 1px $white-base;
    border-radius: 100%;
    @include flex-center;
    background-image: $logo-gradient;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;

    @include animation(
      background-size,
      400ms,
      linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1)
    );

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__icon {
    fill: $white-base;
  }
}
