// PLATZHALTER – Werte warten auf Freigabe / Mockup
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$animation-time: 0.3s;

// Schriftarten
$f-title: 'Bricolage Grotesque', system-ui, sans-serif;
$f-txt: 'Bricolage Grotesque', system-ui, sans-serif;
$f-hand: 'Kalam', sans-serif;

// Spacing
$body-spacing: 16px clamp(4px, 4vw, 72px);

// Container-Breite
$dp-max-width: 1440px;

//z-index classes
.z-40 {
  z-index: 40;
}
.z-100 {
  z-index: 100;
}

.dp-max {
  max-width: $dp-max-width;
}
