@use '../abstracts' as *;

.about {
  display: grid;
  justify-items: center;
  min-height: 90dvh;
  grid-template-rows: auto auto 1fr;
  margin: 0 auto; //* necessary for get the container in the middle

  &__me {
    padding: $body-spacing;
    max-width: $dp-max-width;
  }

  &__titles {
    display: grid;
    gap: 16px;
  }

  &__title {
    font-weight: 700;
    color: $black-base;
    text-box: trim-both cap text;
  }

  &__subtitle {
    @include f-text(rem(18), 500);
  }

  &__info {
    color: $black-base;
    font-weight: 400;
  }

  &__me {
    display: grid;
    gap: 32px;
  }

  &__contact {
    justify-self: flex-end;
  }

  &__preferences {
    width: 100%;
  }
}

@include respond-to(md) {
  // todo in the about section should me change to a 2 column layout with 1fr 1fr sizing
  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: center;
    grid-template-areas: 'titles titles' 'preferences aboutme';

    &__titles {
      margin-top: 4rem;
      grid-area: titles;
    }

    &__me {
      grid-area: aboutme;
    }

    &__preferences {
      grid-area: preferences;
    }
  }
}
