@use '../../../styles/abstracts' as *;

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: $dp-max-width;
  padding: 16px $body-spacing;
  position: relative;

  &__logo {
    width: 64px;
  }

  &__list {
    display: grid;
    width: 100%;
  }

  &__btn {
    justify-self: flex-end;
  }
  &__elements {
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .burgermenu {
    background-image: url('/assets/background/hero_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition:
      transform 300ms ease,
      opacity 300ms ease;

    transform: translateY(-100%);

    &--open {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.mob-nav {
  display: grid;
  justify-content: center;
  padding-bottom: 48px;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: clamp(24px, 2vw, 64px);
  min-height: 90dvh;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    width: 64px;
  }
}

.mob-wrapper {
}
