@use '../../../styles/abstracts' as *;

.landing {
  min-height: 100dvh;
  background-image: url('/assets/background/hero_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 16px $body-spacing 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header {
  &__logo {
    width: 64px;
    height: auto;
  }
}

.nav {
  display: grid;
  gap: 64px;
  justify-items: center;

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 64px;
    height: auto;
  }

  &__list {
    display: grid;
    justify-items: center;
    gap: 32px;
  }
}

.mobile {
  padding: 16px $body-spacing 0;
}

.mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 96px;
  background-image: url('/assets/background/hero_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition:
    transform 300ms ease,
    opacity 300ms ease;

  transform: translateY(-100%);

  &--open {
    transform: translateY(0);
    opacity: 1;
  }
}

.z-40 {
  z-index: 40;
}
