@use '../../../styles/abstracts' as *;

.header {
  min-height: 100dvh;
  background-image: url('/assets/background/hero_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  min-height: 100dvh; //todo for testing only
}
