@use '../../../styles/abstracts' as *;

.landing {
  min-height: 100dvh;
  background-image: url('/assets/background/hero_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 16px $body-spacing 0;

  &__nav {
    justify-self: center;
    width: 100%;
    max-width: $dp-max-width;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
