@use '../../../styles/abstracts' as *;

.papers {
  display: grid;
  gap: 4px;
}

.paper {
  position: relative;
  max-width: 560px;
  aspect-ratio: 1029 / 384;
  background-image: var(--bg-mobile);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &__wrapper {
    position: absolute;
    inset: var(--inset);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__txt {
    color: $white-base;
  }

  &__icon {
    width: 30px;
    aspect-ratio: 1 / 1;
  }

  // Inset: top right bottom left
  &--blue {
    --inset: 12% 14% 35% 7%;
    max-width: 440px;
  }

  &--purple {
    --inset: 22% 8% 27% 13%;
    max-width: 500px;
  }

  &--coral {
    --inset: 20% 4% 17% 13%;
  }
}

@include respond-to(md) {
  .paper {
    aspect-ratio: 1680 / 456;
    background-image: var(--bg-desktop);

    &--blue {
      --inset: 12% 8% 18% 13%;
    }

    &--purple {
      --inset: 15% 14% 36% 15%;
    }

    &--coral {
      --inset: 22% 9% 25% 9%;
    }
  }
}
