@use '../abstracts' as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-snap-type: y proximity;
  }
}
